<section layout-margin class="md-whiteframe-z1 card">
    <md-toolbar md-theme="custom" class="md-hue-1 card-toolbar">
        <div class="md-toolbar-tools">
            <h3 class="card-title">{{$ctrl.title}}</h3>
            <span flex></span>
            <md-button ng-show="options" ng-click="$showOptions = !$showOptions" class="md-icon-button" aria-label="Show options">
                <i class="material-icons">more_vert</i>
                </md-button>
            </div>
        </md-toolbar>
    <div ng-transclude/>
</section>