<div layout-gt-md="row">
    <card flex title="Site visitors"  class="card-fixed-height">
        <ng-include src="'app/views/partials/visitors.html'"></ng-include>
    </card>
    <card flex title="Memory Load" class="card-fixed-height">
        <ng-include src="'app/views/partials/memory.html'"></ng-include>
    </card>
    <card flex title="Warnings" class="card-fixed-height">
        <ng-include src="'app/views/partials/warnings.html'"></ng-include>
    </card>
</div>
<div layout-gt-md="row">
    <card flex title="Temperature Chart" class="card-fixed-height">
        <ng-include src="'app/views/partials/temperature.html'"></ng-include>
    </card>

<!--    <card flex title="Autocomplete Input"
          template="app/views/partials/autocomplete.html"
          options="true"
          class="fixed-height-widget"></card>-->
    <card flex title="Autocomplete Input" options="true" class="fixed-height-widget">
        <ng-include src="'app/views/partials/autocomplete.html'"></ng-include>
    </card>
</div>
