.card {
  background: #ffffff;
  display: inline-block;
  //display: flex;
  //flex-direction: row;
  width: 100%;
  //min-height: 200px;
  border-radius: 2px;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 14px;
  margin-bottom: 16px;
}

.card-header {
  padding: 16px;
  font-size: 24px;
  font-weight: 400;
}

.card-body {
  padding: 16px;
}

.card-footer {
  padding: 16px;
}