$sidenav-left-width: 180px;

$main-bg-color: #ECECEC;
$text-color: #7A7A7A;
$accent-color: rgb(0, 150, 136);
$warning-color: #E75753;

$card-height: 410px;
$font-weight-bold: 600;
$font-size-large: 22px;

/*
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v16/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
*/

md-sidenav.md-locked-open.md-sidenav-left {
  width: $sidenav-left-width;
  min-width: $sidenav-left-width;
  max-width: $sidenav-left-width;
}

// card
.card {
  background-color: white;

  &-toolbar {
    box-shadow: none;
    margin: 0;
  }

  &-tittle {
    color: $text-color;
  }
}

.card-fixed-height {
  height: $card-height;
}

// libs overrides
.material-icons {
  vertical-align: middle;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.nvd3.nv-pie .nv-pie-title {
  fill: rgb(68, 68, 68);
  font-weight: $font-weight-bold;
  font-size: $font-size-large !important;
}

.nvtooltip {
  background-color: transparent;
  border: none;
  font-weight: $font-weight-bold;
}